<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/new" method="post" aria-disabled="true">
    <div><label> Prime number index : <input type="number" name="primeIndex" min="1" max="100000000"/> </label></div>
    <div><input type="submit" value="Send"/></div>
</form>
<a href="/status">Check report status</a>
</body>
</html>
